* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  height: auto;
  margin: auto;

}

@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);

body {
  font-family: 'Anton', sans-serif;
}